.toolbar {
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 600;
  }

.toolbar span {
    margin-left: 6px;
}