<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Git Search</a>
    </div>
</nav> -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-auto">
            <form [formGroup]="gitSearchForm" class="form-contact">
                <mat-form-field appearance="fill">
                    <mat-label>Search Github Username</mat-label>
                    <input type="text" [formControl]="gitSearchForm.get('search')" placeholder="Select to view details" matInput
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="openUserInfo($event)" autoActiveFirstOption>
                        <mat-option *ngFor="let user of filteredGitUsers" [value]="user.login">
                            <div class="d-flex flex-row">
                                <div class="float-left">
                                    <img [src]="user.avatar_url" class="img-thumbnail rounded-circle img-fluid" alt="avatar" width="50" height="50">
                                </div>
                                <div style="margin-left: 5px;">
                                    {{user.login}}
                                </div>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>